In [1]:
## Python basic learning:
## Objective for Data Engineer:
# 1. Object-oriebted programming
# 2. Decorators
# 3. Good practices
# 4. Version control

In [2]:
# Decorators:
def plus_one(number):
    def add_one(number):
        return number + 1


    result = add_one(number)
    return result
plus_one(4)

5

In [3]:
#Passing Functions as Arguments to other Functions
def plus_one(number):
    return number + 1

def square(number):
    return number ** 2

def function_call(function):
    number_to_add = 5
    return function(number_to_add)

function_call(plus_one)

6

In [4]:
function_call(square)

25

In [5]:
## Function return other function
def hello_function():
    def say_hi():
        return "Hi"
    return say_hi
hello = hello_function()
hello()

'Hi'

In [6]:
# Nested Functions have access to the Enclosing Function's Variable Scope

## This code defines a function called print_message that takes a single argument message. Within the print_message function, there is a nested function called message_sender that simply prints the message argument. 
## The message_sender function is then called within the print_message function. 

## When the code is executed, the print_message function is called with the argument "Some random message". This causes the message_sender function to be called, which in turn prints the message "Some random message". 
## The purpose of this code is to demonstrate how nested functions work in Python. 
## The message_sender function is nested within the print_message function, which means it has access to the message argument even though it is not passed as an argument to the message_sender function itself. 
## This is because nested functions have access to the variables and arguments of their enclosing functions.

def print_message(message):
    "Enclosong Function"
    def message_sender():
        "Nested Function"
        print(message)
        
    message_sender()

print_message("Some random message")

Some random message

In [7]:
#Creating Decorators

# With these prerequisites out of the way, let's go ahead and create a simple decorator that will convert a sentence to uppercase. 
# We do this by defining a wrapper inside an enclosed function. As you can see it very similar to the function inside another function that we created earlier.

# This code defines a decorator function called uppercase_decorator that takes in another function as an argument. The decorator function returns a new function called wrapper that wraps the original function. 

# The wrapper function first calls the original function using function(), and then converts the result to uppercase using the upper() method. Finally, it returns the uppercase result.

# The purpose of this decorator is to modify the output of the original function by converting it to uppercase. To use this decorator, you would apply it to a function by placing @uppercase_decorator above the function definition.

def uppercase_decorator(function):
    def wrapper():
        func = str(function())
        make_uppercase = func.upper()
        return make_uppercase

    return wrapper

In [8]:
def say_hi():
    return 'hello there'

decorate = uppercase_decorator(say_hi)
decorate()

'HELLO THERE'

In [9]:
# It would becomes TypeError: 'NoneType' object is not callable. Because print_message() only use print to out the parameter, not return string.
#pmsg = uppercase_decorator(print_message("Some random message"))

# But hello_function(), is RETURN a string. It would not be error in there as it returns a string to uppercase_decorator
pmsg = uppercase_decorator(hello_function())
#pmsg()
#print_message("Some random message")

In [10]:
pmsg()

'HI'

In [11]:
## Applying Multiple Decorators to a Single Function
# We can use multiple decorators to a single function. However, the decorators will be applied in the order that we've called them. 
# Below we'll define another decorator that splits the sentence into a list. We'll then apply the uppercase_decorator and split_string decorator to a single function.

# Adding @split_string, @uppercase_decorator to adding specified function in there.
import functools
def split_string(function):
    @functools.wraps(function)
    def wrapper():
        func = function()
        splitted_string = func.split()
        return splitted_string

    return wrapper

In [12]:
@split_string
@uppercase_decorator
def say_hi():
    return 'hello there'
say_hi()

['HELLO', 'THERE']

In [13]:
## Accepting Arguments in Decorator Functions

# Sometimes we might need to define a decorator that accepts arguments. We achieve this by passing the arguments to the wrapper function. The arguments will then be passed to the function that is being decorated at call time.
def decorator_with_arguments(function):
    def wrapper_accepting_arguments(arg1, arg2):
        print("My arguments are: {0}, {1}".format(arg1,arg2))
        function(arg1, arg2)
    return wrapper_accepting_arguments


@decorator_with_arguments
def cities(city_one, city_two):
    print("Cities I love are {0} and {1}".format(city_one, city_two))

cities("Nairobi", "Accra")

My arguments are: Nairobi, Accra
Cities I love are Nairobi and Accra

In [14]:
# Defining General Purpose Decorators
# To define a general purpose decorator that can be applied to any function we use args and **kwargs. 
# args and **kwargs collect all positional and keyword arguments and stores them in the args and kwargs variables. 
# args and kwargs allow us to pass as many arguments as we would like during function calls.

def a_decorator_passing_arbitrary_arguments(function_to_decorate):
    def a_wrapper_accepting_arbitrary_arguments(*args,**kwargs):
        print('The positional arguments are', args)
        print('The keyword arguments are', kwargs)
        function_to_decorate(*args)
    return a_wrapper_accepting_arbitrary_arguments

@a_decorator_passing_arbitrary_arguments
def function_with_no_argument():
    print("No arguments here.")

function_with_no_argument()

# This code defines a decorator function called a_decorator_passing_arbitrary_arguments that takes in a function as an argument. 
# The decorator function then defines an inner function called a_wrapper_accepting_arbitrary_arguments that accepts arbitrary arguments using the *args and **kwargs syntax. 
# The inner function then prints out the positional and keyword arguments passed to it and calls the original function with the positional arguments using function_to_decorate(*args). 

# The @a_decorator_passing_arbitrary_arguments syntax is used to apply the decorator to the function_with_no_argument function. 
# When function_with_no_argument is called, it is actually calling the a_wrapper_accepting_arbitrary_arguments function defined in the decorator, 
# which in turn calls the original function_with_no_argument function with no arguments. The output of the code will be:

"""
The positional arguments are ()
The keyword arguments are {}
No arguments here.
"""

# This shows that the decorator successfully passed the arguments to the inner function and called the original function with no arguments.

The positional arguments are ()
The keyword arguments are {}
No arguments here.

'\nThe positional arguments are ()\nThe keyword arguments are {}\nNo arguments here.\n'

In [15]:
#The positional arguments are ()
#The keyword arguments are {}
#No arguments here.

In [16]:
@a_decorator_passing_arbitrary_arguments
def function_with_arguments(a, b, c):
    print(a, b, c)

function_with_arguments(1,2,3)

The positional arguments are (1, 2, 3)
The keyword arguments are {}
1 2 3

In [17]:
@a_decorator_passing_arbitrary_arguments
def function_with_keyword_arguments():
    print("This has shown keyword arguments")

function_with_keyword_arguments(first_name="Derrick", last_name="Mwiti")
## Note: The use of **kwargs in the decorator allows it to handle keyword arguments. This makes the general-purpose decorator versatile and capable of handling a variety of argument types during function calls.

The positional arguments are ()
The keyword arguments are {'first_name': 'Derrick', 'last_name': 'Mwiti'}
This has shown keyword arguments

In [18]:
## Passing Arguments to the Decorator
# Now let's see how we'd pass arguments to the decorator itself. 
# In order to achieve this, we define a decorator maker that accepts arguments then define a decorator inside it. 
# We then define a wrapper function inside the decorator as we did earlier.

def decorator_maker_with_arguments(decorator_arg1, decorator_arg2, decorator_arg3):
    def decorator(func):
        def wrapper(function_arg1, function_arg2, function_arg3) :
            "This is the wrapper function"
            print("The wrapper can access all the variables\n"
                  "\t- from the decorator maker: {0} {1} {2}\n"
                  "\t- from the function call: {3} {4} {5}\n"
                  "and pass them to the decorated function"
                  .format(decorator_arg1, decorator_arg2,decorator_arg3,
                          function_arg1, function_arg2,function_arg3))
            return func(function_arg1, function_arg2,function_arg3)

        return wrapper

    return decorator

pandas = "Pandas"
@decorator_maker_with_arguments(pandas, "Numpy","Scikit-learn")
def decorated_function_with_arguments(function_arg1, function_arg2,function_arg3):
    print("This is the decorated function and it only knows about its arguments: {0}"
           " {1}" " {2}".format(function_arg1, function_arg2,function_arg3))

decorated_function_with_arguments(pandas, "Science", "Tools")

The wrapper can access all the variables
	- from the decorator maker: Pandas Numpy Scikit-learn
	- from the function call: Pandas Science Tools
and pass them to the decorated function
This is the decorated function and it only knows about its arguments: Pandas Science Tools

In [19]:
def right(inString, nofchar):
    length = len(inString)
    if length < nofchar:
        return inString
    else:
        start = length-nofchar
        result = inString[start:]
    return result

def left(inString, nofchar):
    length = len(inString)
    if length < nofchar:
        return inString
    else:
        end = nofchar - length
        result = inString[:end]
    return result

print(right("Michael Jankson",8))
print(left("ABCDEFGHIJK",3))

 Jankson
ABC

In [20]:
import re

def patindex(pattern, string):
    match = re.search(pattern, string)
    if match:
        return match.start() + 1  # SQL `PATINDEX` is 1-based
    return 0  # Return 0 if the pattern is not found

# Example
text = "Hello, this is a Python example."
pattern = r"Python"
position = patindex(pattern, text)
print(position)  # Output: 16 (1-based index)

18

In [21]:
text = "Hello, this is a Python example."
print(text[17:23])

Python

In [22]:
def patindex_simple(substring, string):
    position = string.find(substring)
    return position + 1 if position != -1 else 0

# Example
text = "Hello, this is a Python example."
substring = "Python"
position = patindex_simple(substring, text)
print(position)  # Output: 16 (1-based index)

18

In [23]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

In [24]:
import sys

print(sys.version)

3.12.8 (tags/v3.12.8:2dc476b, Dec  3 2024, 19:30:04) [MSC v.1942 64 bit (AMD64)]

In [25]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [26]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [27]:
if 5 > 2:
 print("Five is greater than two!")
 print("Five is greater than two! 2") 
else:
 print("Other")

Five is greater than two!
Five is greater than two! 2

In [28]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [29]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [30]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [31]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [32]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [33]:
# it would cause error as different data type
x = 5
y = "John"
#print(x + y)  ##error here
print(str(x)+' '+y)

5 John

In [34]:
x = 5
y = "John"
print(x, y)

5 John

In [35]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [36]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [37]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x) 

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic

In [38]:
x = 'awesome'
def myfunc():
  x = 'fantastic'
myfunc()
print('Python is ' + x)

Python is awesome

In [39]:
#x = range(6)
x = b"Hello"
print(type(x))

<class 'bytes'>

In [40]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [41]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [42]:
x = 3+5j
y = 5j
z = -5j

print(x)
print(y)
print(type(x))
print(type(y))
print(type(z))

(3+5j)
5j
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [43]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

d = str(z)

print(d[1:])

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

j
1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [44]:
x=5
x=complex(x)
print(type(x))

<class 'complex'>

In [45]:
print(int(35.88))

35

In [46]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')
print("He is called \"Johnny\"")

It's alright
He is called 'Johnny'
He is called "Johnny"
He is called "Johnny"

In [47]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [48]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [49]:
a = "Hello, World!"
print(a[1])

e

In [50]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [51]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [52]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [53]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [54]:
b = "Hello, World!"
print(b[:5])

Hello

In [55]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [56]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [57]:
x = 'Welcome'
print(x[3:5])

co

In [58]:
txt="Hello World"
print(txt[2:5])

llo

In [59]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [60]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [61]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [62]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [63]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [64]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [65]:
x = "Wilson Chow"
print(x.capitalize())

Wilson chow

In [66]:
txt = "Mi casa, su casa."
x = txt.rindex("casa")
print(x)

12

In [67]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [68]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [69]:
txt = "   s   "

x = txt.isspace()

print(x)

False

In [70]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [71]:
print(bool("Hello"))
print(bool(15))

True
True

In [72]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [73]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [74]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [75]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [76]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [77]:
x = 200
print(isinstance(x, int))

True

In [78]:
x = x << 3
print(x)

1600

In [79]:
print(100 + 5 * 3)

115

In [80]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(thislist[1])

['apple', 'banana', 'cherry']
banana

In [81]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [82]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [83]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3,"2"]
list3 = [True, False, False]

In [84]:
print(type(list2))

<class 'list'>

In [85]:
print(list2)

[1, 5, 7, 9, 3, '2']

In [86]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [87]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [88]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [89]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [90]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [91]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [92]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [93]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [94]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [95]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [96]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [97]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [98]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [99]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [100]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [101]:
#delete the whole list
thislist = ["apple", "banana", "cherry"]
del thislist 
#print(thislist)

In [102]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [103]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [104]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i += 1

apple
banana
cherry

In [105]:
for i in range(3):
    print(i)
    i +=i

0
1
2

In [106]:
del thislist
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [107]:
print(thislist)

['apple', 'banana', 'cherry']

In [108]:
[print(x) for x in ['apple', 'banana', 'cherry']]

apple
banana
cherry

[None, None, None]

In [109]:
#create a new list from existing list, the content contains "a"
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [110]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [111]:
newlist = [x if x != "banana" else "orange" for x in fruits]

In [112]:
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [113]:
fruits = ['apple', 'banana', 'cherry']
newlist = [x for x in fruits if x == 'banana']

In [114]:
print(newlist)

['banana']

In [115]:
fruits = ["apple", "banana", "cherry"]
newlist = [x for x in fruits]

In [116]:
print(newlist)

['apple', 'banana', 'cherry']

In [117]:
fruits = ['apple', 'banana', 'cherry']
newlist = ['apple' for x in fruits]
print(newlist)

['apple', 'apple', 'apple']

In [118]:
newlist = [x for x in range(10) if x < 5] 
print(newlist)

[0, 1, 2, 3, 4]

In [119]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [120]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [121]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [122]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [123]:
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [124]:
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [125]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [126]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [127]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [128]:
# Create a Tuple
# Tuples are used to store multiple items in a single variable.
# Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.
# A tuple is a collection which is ordered and ** unchangeable **.
# Tuples are written with round brackets.

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [129]:
for x in thistuple:
    print(x)

apple
banana
cherry

In [130]:
print(len(thistuple))

3

In [131]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

tuple4 = tuple1+tuple2+tuple3
print(tuple4)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
('apple', 'banana', 'cherry', 1, 5, 7, 9, 3, True, False, False)

In [132]:
#A tuple with strings, integers and boolean values:
tuple1 = ("abc", 34, True, 40, "male")

In [133]:
for x in tuple1:
    print(type(x))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>
<class 'str'>

In [134]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [135]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [136]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [137]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [138]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [139]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [140]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [141]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [142]:
#Create a new tuple with the value "orange", and add that tuple:
#tuple could be added item in there but cannot be changed
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)
print(len(y))

('apple', 'banana', 'cherry', 'orange')
1

In [143]:
list1 = ["a",1,True]
print(list1)

['a', 1, True]

In [144]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [145]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [146]:
#unpack a tuple into a list or variable
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)
print(type(red))

apple
banana
['cherry', 'strawberry', 'raspberry']
<class 'list'>

In [147]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [148]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [149]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i += 1

apple
banana
cherry

In [150]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [151]:
print(mytuple.count('apple'))
print(fruits.count('cherry'))
print(mytuple.count('apple'))

2
1
2

In [152]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [153]:
print(mytuple.index('banana'))
print(mytuple.index('cherry'))

1
2

In [154]:
## Set
thisset = {"apple", "cherry", "banana"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [155]:
# False and 0 is considered the same value, and True and 1 also the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

print(len(thisset))

{True, 2, 'cherry', 'apple', 'banana'}
{False, True, 'cherry', 'apple', 'banana'}
5

In [156]:
set2 = {"a","b",1,5}
print(set2)
print(type(set2))

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'b', 1, 'a', 5}
<class 'set'>
{'cherry', 'apple', 'banana'}

In [157]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [158]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset) 
print("banana" not in thisset) 
thisset.add("orange")
print(thisset)

True
False
{'orange', 'cherry', 'apple', 'banana'}

In [159]:
# To add items from another set into the current set, use the update() method.
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)

print(thisset)

{'orange', 'papaya', 'pineapple', 'mango', 'cherry', 'apple', 'banana'}

In [160]:
# add a list into a set or set also could be added by using update()
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
set2 = {2, True, "Wilson"}

thisset.update(mylist)
thisset.update(set2)

print(thisset)

{'kiwi', True, 2, 'cherry', 'orange', 'Wilson', 'apple', 'banana'}

In [161]:
# Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [162]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [163]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [164]:
#Remove a random item by using the pop() method:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()

print(x)
print(thisset)

cherry
{'apple', 'banana'}

In [165]:
# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
thisset.clear()

print(thisset)

set()

In [166]:
thisset = {"apple", "banana", "cherry"}
del thisset

#print(thisset) 
#
# It would cause error as :
#NameError                                 Traceback (most recent call last)
#Cell In[92], line 5
#      1 thisset = {"apple", "banana", "cherry"}
#      3 del thisset
#----> 5 print(thisset) 

#NameError: name 'thisset' is not defined

In [167]:
#Join Sets
#There are several ways to join two or more sets in Python.
#The union() and update() methods joins all items from both sets.
#The intersection() method keeps ONLY the duplicates.
#The difference() method keeps the items from the first set that are not in the other set(s).
#The symmetric_difference() method keeps all items EXCEPT the duplicates.

#Join set1 and set2 into a new set:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'b', 'c'}

In [168]:
# Use | to join two sets:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 'a', 2, 3, 'b', 'c'}

In [169]:
# Join multiple sets with the union() method:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 'a', 2, 3, 'apple', 'Elena', 'cherry', 'c', 'bananas', 'b', 'John'}

In [170]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 2, 3, 'b', 'c'}

In [171]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [172]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
set4 = set1 | set2
print(set3) 
print(set4)

{'apple'}
{'microsoft', 'google', 'cherry', 'apple', 'banana'}

In [173]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [174]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [175]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [176]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [177]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [178]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3) 
print((set1 | set2) - (set1 & set2))

{'cherry', 'microsoft', 'google', 'banana'}
{'cherry', 'google', 'banana', 'microsoft'}

In [179]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'microsoft', 'google', 'banana'}

In [180]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'cherry', 'microsoft', 'banana'}

In [181]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

a.difference_update(b, c)

print(a)

{'banana'}

In [182]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

a -= b | c

print(a)

{'banana'}

In [183]:
x = {"a", "b", "s"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

False

In [184]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [185]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [186]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [187]:
print(len(thisdict))

3

In [188]:
thisdict =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
} 
print(thisdict)
print(thisdict["colors"])

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
['red', 'white', 'blue']

In [189]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [190]:
x = [1,2,3,4]
y = x
y[3] = 10
print(x)

[1, 2, 3, 10]

In [191]:
print(3*"Hi")

HiHiHi

In [192]:
print(3**2)

9

In [193]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)
print(type(thisdict))
print(thisdict.get("name"))
print(thisdict.keys())
x = thisdict.values()
print(x)
thisdict["car"] = "Toyota Yaris"
print(thisdict)
print(thisdict.items())

if "car" in thisdict:
    print("Yes, car in thisdict")

thisdict["country"] = "Denmark"
# update : change and add item in dictionary
thisdict.update({"age" : 37})
thisdict.update({"car color" : "Red"})

print(thisdict)

"""
thisdict loop items
"""
print("\n\nloop items: \n")
for x in thisdict:
    print(thisdict[x])
    print(x)

for x in thisdict.values():
  print(x) 
for x in thisdict.keys():
  print(x) 
    
thisdict.pop("car color")
print(thisdict)

thisdict.popitem()
print(thisdict)

print("print(x, y) in thisdict.items()")
for x, y in thisdict.items():
  print(x, y) 

# The del keyword removes the item with the specified key name:
del thisdict["age"]
print(thisdict)

# The del keyword can also delete the dictionary completely:
# It would cause error if directly print(thsidict)
# del thisdict

# The clear() method empties the dictionary:
thisdict.clear()
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}
<class 'dict'>
John
dict_keys(['name', 'age', 'country'])
dict_values(['John', 36, 'Norway'])
{'name': 'John', 'age': 36, 'country': 'Norway', 'car': 'Toyota Yaris'}
dict_items([('name', 'John'), ('age', 36), ('country', 'Norway'), ('car', 'Toyota Yaris')])
Yes, car in thisdict
{'name': 'John', 'age': 37, 'country': 'Denmark', 'car': 'Toyota Yaris', 'car color': 'Red'}


loop items:

John
name
37
age
Denmark
country
Toyota Yaris
car
Red
car color
John
37
Denmark
Toyota Yaris
Red
name
age
country
car
car color
{'name': 'John', 'age': 37, 'country': 'Denmark', 'car': 'Toyota Yaris'}
{'name': 'John', 'age': 37, 'country': 'Denmark'}
print(x, y) in thisdict.items()
name John
age 37
country Denmark
{'name': 'John', 'country': 'Denmark'}
{}

In [194]:
df = [dict(name = "John", age = 36, country = "Norway"), dict(name = "Paul", age = 32, country = "Denmark"), dict(name = "Mary", age = 23, country = "United Kingdom")]

In [195]:
print(df)
print(type(df))
print(df[2]["name"])

[{'name': 'John', 'age': 36, 'country': 'Norway'}, {'name': 'Paul', 'age': 32, 'country': 'Denmark'}, {'name': 'Mary', 'age': 23, 'country': 'United Kingdom'}]
<class 'list'>
Mary

In [196]:
x = {'type' : 'fruit', 'name' : 'apple'}
for y in x.values():
  print(y)

fruit
apple

In [197]:
for y, z in x.items():
  print(y, z)

type fruit
name apple

In [198]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [199]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [200]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
} 
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [201]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
} 
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [202]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

In [203]:
print('name : '+obj["name"])

name : Linus

In [204]:
a = {'name' : 'John', 'age' : '20'}
b = {'name' : 'May', 'age' : '23'}
customers = {'c1' : a, 'c2' : b}
for x, obj in customers.items():
    print(x)
        
    for y in obj:
        print(y+' : '+ obj[y])

c1
name : John
age : 20
c2
name : May
age : 23

In [205]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [206]:
# Python pass Statement The pass statement is used as a placeholder for future code. When the pass statement is executed, 
# nothing happens, but you avoid getting an error when empty code is not allowed. Empty code is not allowed in loops, function definitions, class definitions, or in if statements.

a = 33
b = 200

if b > a:
  pass

In [207]:
a = 50
b = 10
if a == b:
    print("Yes")
else:
    print("No")

No

In [208]:
a=10
b=10
c=30
d=30
if a == b and c == d:
  print("Hello")

Hello

In [209]:
## Shorthand if elif else form
a=10
b=50
print("Yes") if a==b else print("No")

No

In [210]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [211]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [212]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  for y in x:
     print(y)
     if y == "r":
         break

apple
a
p
p
l
e
banana
b
a
n
a
n
a
cherry
c
h
e
r

In [213]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [214]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [215]:
for x in range(3):
  print(x)

0
1
2

In [216]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [217]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [218]:
def mystery(a,b=[]):
    b.append(a)
    return b

r1 = mystery(10)
r2 = mystery(20,[])
r3 = mystery(30)
print(r1, r2+r3)

print(r1)
print(r2)
print(r3)

print(r1+r2)

print(mystery(22))

[10, 30] [20, 10, 30]
[10, 30]
[20]
[10, 30]
[10, 30, 20]
[10, 30, 22]

In [219]:
def mystery2(a,b=[]):
    b.append(a)
    return b

print(mystery2(22,[]))
print(mystery2(23,[]))
print(mystery2(70,[]))
print(mystery2(98))

[22]
[23]
[70]
[98]

In [220]:
mylist = ['apple', 'banana', 'cherry']
mylist[1:2] = ['kiwi', 'mango']
print(mylist[2])
print(mylist)

mango
['apple', 'kiwi', 'mango', 'cherry']

In [221]:
numbers = list(range(1, 11))
print(numbers)
print([i ** 2 for i in numbers])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [222]:
def get_tuple_length(numbers):
    # Write your code here
    return len(numbers)
    #pass

def get_tuple_sum(numbers):
    # Write your code here
    i = 0
    for s in numbers:
        i = i + s
    return i
    #pass

def get_max_number(numbers):
    # Write your code here
    i = 0
    for s in numbers:
        if i < s:
            i = s
    return i        
    #pass

def get_unique_elements(numbers):
    # Write your code here
    s = ()
    for t in numbers:
        if t not in s:
            s += (t,)
    return s
    #pass

# The predefined tuple
numbers = (3, 1, 4, 1, 5, 9, 2)

if __name__ == '__main__':
    print(get_tuple_length(numbers))
    print(get_tuple_sum(numbers))
    print(get_max_number(numbers))
    print(get_unique_elements(numbers))

7
25
9
(3, 1, 4, 5, 9, 2)

In [223]:
def main(input_set, add_elements, remove_elements):
    # Write your code here
    input_set.update(add_elements)
    input_set.difference_update(remove_elements)
    return input_set
    #pass

if __name__ == '__main__':
    input_set = {1, 2, 3, 4, 5}
    add_elements = {6, 7}
    remove_elements = {1, 4}
    print(main(input_set, add_elements, remove_elements))

{2, 3, 5, 6, 7}

In [224]:
a = {1,0,3,5}
a.add(7)
a.remove(3)
print(a)

{0, 1, 5, 7}

In [225]:
def manipulate_dict() -> dict:
    # Create an empty dictionary
    my_dict = {}
    
    # Add key-value pairs
    my_dict.update({"name": "Alice"})
    my_dict["age"] = 30
    my_dict["city"] = "New York"
    
    # Update the "age" value
    my_dict["age"] = 31
    
    # Remove the "city" key-value pair
    my_dict.pop("city")
    
    # Return the resulting dictionary
    return my_dict

print(manipulate_dict())

{'name': 'Alice', 'age': 31}

In [226]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [227]:
mylist = ["Peter", "Paul", "Mary"]
myit = iter(mylist)

print(next(myit))
print(next(myit))
print(next(myit))

Peter
Paul
Mary

In [228]:
mytuple = ("Wilson","Chow")
myit = iter(mytuple)

print(next(myit))
print(next(myit))

Wilson
Chow

In [229]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

  def reset(self):
    self.a = 1
    x = 0
    #raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

MyNumbers.reset(myiter)

1
2
3
4
5

In [230]:
class MyNumb:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

  def reset(self):
    self.a = 1
    x = 0
      
myclass = MyNumb()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [231]:
x = [1, 4, 2, 5, 99, 201]
print(len(x))
print(max(x))
x.append(323)
print(max(x))
x.clear()
print(len(x))

6
201
323
0

In [232]:
# Instructions
# Write a Python class called `MyArray` which manages an array of integers. The class should have methods for adding an integer, 
# getting the maximum value, and checking if the array is empty. The class should also properly handle scope and inheritance.
# Requirements

# Should be able to add integer to the array.

# The get_max method should return the maximum value in the array.

# The is_empty method should return True for an empty array.
# The is_empty method should return False for a non-empty array.

class MyArray:
    def __init__(self):
        self.data = []

    def add(self, value):
        # Add an integer to the array
        if type(value) == int:
            self.data.append(value)
        else:
            print("Value must be integer")
        #pass

    def get_max(self):
        # Return the maximum value of the array
        m = 0
        for i in self.data:
            if i > m:
                m=i
        #return max(self.data)
        return m
        #pass

    def is_empty(self):
        # Return True if the array is empty, otherwise False
        selflen = len(self.data)
        return (True if selflen == 0 else False)
        #pass

class MyAr(MyArray):
    pass

ma = MyAr()
print(ma.is_empty())
ma.add("ABC")
ma.add(201)
ma.add(1)
ma.add(323)
ma.add(40)
ma.add(13)
ma.add(11)
ma.add(212)
ma.add(456)
print(ma.get_max())
print(ma.is_empty())
print(ma.data)

True
Value must be integer
456
False
[201, 1, 323, 40, 13, 11, 212, 456]

In [233]:
a = 12
print(type(a))

<class 'int'>

In [234]:
import re

#Split the string at the first white-space character:

txt = "The rain in Spain"
x = re.split("\\s", txt, 1)
print(x)
x1 = re.split("\\s", txt)
print(x1)

['The', 'rain in Spain']
['The', 'rain', 'in', 'Spain']

In [235]:
import re

txt = "The rain in Spain. This is 2024 version."

#Find all lower case characters alphabetically between "a" and "m":

# Display all character from a to m
print(re.findall("[a-m]", txt))
# find out all digital characters
print(re.findall("\\d", txt))
txt = "hello planet. hero stuff"
# display a string start from he and end with o but only show the first one.
print(re.findall("he..o", txt))
#Check if the string ends with 'planet':

x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

['h', 'e', 'a', 'i', 'i', 'a', 'i', 'h', 'i', 'i', 'e', 'i']
['2', '0', '2', '4']
['hello']
No match

In [236]:
txt = "That will be 59 dollars"

#Find all digit characters:

x = re.findall("\d", txt)
print(x)

['5', '9']

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\wilso\AppData\Local\Temp\ipykernel_23600\1177197027.py:5: SyntaxWarning: invalid escape sequence '\d'
  x = re.findall("\d", txt)

In [237]:
from datetime import date
print(type(date.fromisoformat('2019-12-04')))
print(type(date(2003, 12, 29).isocalendar()))
print(date.fromisoformat('2019-12-04').ctime())
print(date(2002, 12, 4).ctime())

<class 'datetime.date'>
<class 'datetime.IsoCalendarDate'>
Wed Dec  4 00:00:00 2019
Wed Dec  4 00:00:00 2002

In [238]:
txt = "The rain in Spain"

# The sub() function replaces the matches with the text of your choice:
# Replace every white-space character with the number 9:
print(re.sub("\\s", "9", txt))

# Replace the first 2 occurrences:
print(re.sub("\\s", "9", txt, 2))

# Do a search the space "\s" return a Match Object:
x = re.search("\\s", txt)

#Do a search that will return a Match Object:
y = re.search("ain", txt)

# the first place is 5
print(re.search("ai", txt))

print(re.search("wi","wing-san wilson chow"))

print("The first white-space character is located in position:", x.start()) 
print(y.start())
print(y.end())

# print(re.sub("\s", "9", txt))

The9rain9in9Spain
The9rain9in Spain
<re.Match object; span=(5, 7), match='ai'>
<re.Match object; span=(0, 2), match='wi'>
The first white-space character is located in position: 3
5
8

In [239]:
import re

txt = "The rain, in Spain!"

#Return a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):

x = re.findall("\\W", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ',', ' ', ' ', '!']
Yes, there is at least one match!

In [240]:
import re

txt = "hello planet"

#Check if the string starts with 'hello':

x = re.findall("^planet", txt)
if x:
  print("Yes, the string starts with 'planet'")
else:
  print("No match (planet)")

x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match (hello)")

# .span() returns a tuple containing the start-, and end positions of the match.
# .string returns the string passed into the function
# .group() returns the part of the string where there was a match

# \b - Returns a match where the specified characters are at the beginning or at the end of a word
# (the "r" in the beginning is making sure that the string is being treated as a "raw string")
# \w - Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)

#Search for an upper case "S" character in the beginning of a word, and print its position:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())
print(x.group())

txt = "The rain in Spain"
x = re.search(r"\br\w+", txt)
print(x.string)
print(re.search(r"\br\w+", txt).span())

#Search for an upper case "S" character in the beginning of a word, and print the word:
print(re.search(r"\br\w+", txt).group())

No match (planet)
Yes, the string starts with 'hello'
(12, 17)
Spain
The rain in Spain
(4, 8)
rain

In [241]:
# for r prefix in searching, r means the eaw string

print("\t Hi, I am Wilson")
print(r"\t Hi, I am Wilson")

# above sample can see the raw string "\t..." shows in result.

	 Hi, I am Wilson
\t Hi, I am Wilson

In [242]:
import re
txt = 'The rain in Spain'
x = re.findall('[a-c]', txt)
print(x)
print(re.findall('[x-z]', txt))

['a', 'a']
[]

In [243]:
import camelcase
c = camelcase.CamelCase()
print(c.hump("wilson chow"))

Wilson Chow

In [244]:
x=camelcase.CamelCase()
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong") 
else:
  print("Nothing went wrong")
finally:
  print("The 'try except' is finished") 

#x = -1
#if x < 0:
#  raise Exception("Sorry, no numbers below zero") 

#if not type(x) is int:
#  raise TypeError("Only integers are allowed")

<camelcase.main.CamelCase object at 0x000001AF16016B70>
Nothing went wrong
The 'try except' is finished

In [245]:
import re

txt = "The rain in Spain"

#Check if "ain" is present, but NOT at the end of a word:

x = re.findall(r"ain\B", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

print(re.findall(r"ain\b", txt))
print(re.findall(r"\D", txt))
print(re.findall(r"rain\D", txt))

#Check if the string ends with "Spain":
print(re.findall("Spain\\Z", txt))

print(re.findall("[arn]", txt))

print(re.findall("[a-n]", txt))

# phone number in UK
tPh = "07321112933"
print(re.findall("[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]",re.sub(r"\+44","0",re.sub("\\s","",tPh))))

[]
No match
['ain', 'ain']
['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']
['rain ']
['Spain']
['r', 'a', 'n', 'n', 'a', 'n']
['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
['07321112933']

In [246]:
txt = "8 times before 11:45 AM"

#Check if the string has any characters from a to z lower case, and A to Z upper case:

x = re.findall("[a-zA-Z]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
Yes, there is at least one match!

In [ ]:
dt