In [1]:
"""
This lab for Pandas and PySpark interchange
And there has some connection testing to csv, parquet, and SQL Server
"""
#!pip install pyspark
#!pip install findspark
#!pip install pyodbc
#!pip install SQLAlchemy
#!pip install pyarrow
#!pip install numpy==1.26.3
#!pip install pymssql

'\nThis lab for Pandas and PySpark interchange\nAnd there has some connection testing to csv, parquet, and SQL Server\n'

In [2]:
import os
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"
import numpy as np
import pandas as pd
from pyspark.sql.types import StringType, BinaryType, ArrayType, LongType, MapType
from pyspark.sql import functions as F
from pyspark.sql.functions import pandas_udf
import pyspark.pandas as ps
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [3]:
spark

In [4]:
spark.sparkContext
# <SparkContext master=local[*] appName=Analyzing the vocabulary of [...]>

In [5]:
from pyspark import SparkContext
#sc =SparkContext()

In [6]:
sc

''

In [7]:
spark.sparkContext.setLogLevel("WARN")

In [8]:
##read the dataset
##inferSchema means adjust the suitable data type for all columns. Otherwise they would be String
df_pyspark = spark.read.option('header','true').csv('df_VEH0120_GB.csv',inferSchema=True)

In [9]:
### Check the schema
df_pyspark.printSchema()

root
 |-- BodyType: string (nullable = true)
 |-- Make: string (nullable = true)
 |-- GenModel: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Fuel: string (nullable = true)
 |-- LicenceStatus: string (nullable = true)
 |-- 2024Q2: integer (nullable = true)
 |-- 2024Q1: integer (nullable = true)
 |-- 2023Q4: integer (nullable = true)
 |-- 2023Q3: integer (nullable = true)
 |-- 2023Q2: integer (nullable = true)
 |-- 2023Q1: integer (nullable = true)
 |-- 2022Q4: integer (nullable = true)
 |-- 2022Q3: integer (nullable = true)
 |-- 2022Q2: integer (nullable = true)
 |-- 2022Q1: integer (nullable = true)
 |-- 2021Q4: integer (nullable = true)
 |-- 2021Q3: integer (nullable = true)
 |-- 2021Q2: integer (nullable = true)
 |-- 2021Q1: integer (nullable = true)
 |-- 2020Q4: integer (nullable = true)
 |-- 2020Q3: integer (nullable = true)
 |-- 2020Q2: integer (nullable = true)
 |-- 2020Q1: integer (nullable = true)
 |-- 2019Q4: integer (nullable = true)
 |-- 2019Q3: integer (nullable = true)
 |-- 2019Q2: integer (nullable = true)
 |-- 2019Q1: integer (nullable = true)
 |-- 2018Q4: integer (nullable = true)
 |-- 2018Q3: integer (nullable = true)
 |-- 2018Q2: integer (nullable = true)
 |-- 2018Q1: integer (nullable = true)
 |-- 2017Q4: integer (nullable = true)
 |-- 2017Q3: integer (nullable = true)
 |-- 2017Q2: integer (nullable = true)
 |-- 2017Q1: integer (nullable = true)
 |-- 2016Q4: integer (nullable = true)
 |-- 2016Q3: integer (nullable = true)
 |-- 2016Q2: integer (nullable = true)
 |-- 2016Q1: integer (nullable = true)
 |-- 2015Q4: integer (nullable = true)
 |-- 2015Q3: integer (nullable = true)
 |-- 2015Q2: integer (nullable = true)
 |-- 2015Q1: integer (nullable = true)
 |-- 2014Q4: integer (nullable = true)
 |-- 2014Q3: integer (nullable = true)
 |-- 2014Q2: integer (nullable = true)
 |-- 2014Q1: integer (nullable = true)
 |-- 2013Q4: integer (nullable = true)
 |-- 2013Q3: integer (nullable = true)
 |-- 2013Q2: integer (nullable = true)
 |-- 2013Q1: integer (nullable = true)
 |-- 2012Q4: integer (nullable = true)
 |-- 2012Q3: integer (nullable = true)
 |-- 2012Q2: integer (nullable = true)
 |-- 2012Q1: integer (nullable = true)
 |-- 2011Q4: integer (nullable = true)
 |-- 2011Q3: integer (nullable = true)
 |-- 2011Q2: integer (nullable = true)
 |-- 2011Q1: integer (nullable = true)
 |-- 2010Q4: integer (nullable = true)
 |-- 2010Q3: integer (nullable = true)
 |-- 2010Q2: integer (nullable = true)
 |-- 2010Q1: integer (nullable = true)
 |-- 2009Q4: integer (nullable = true)
 |-- 2009Q3: integer (nullable = true)
 |-- 2009Q2: integer (nullable = true)
 |-- 2009Q1: integer (nullable = true)
 |-- 2008Q4: integer (nullable = true)
 |-- 2008Q3: integer (nullable = true)
 |-- 2007Q4: integer (nullable = true)
 |-- 2006Q4: integer (nullable = true)
 |-- 2005Q4: integer (nullable = true)
 |-- 2004Q4: integer (nullable = true)
 |-- 2003Q4: integer (nullable = true)
 |-- 2002Q4: integer (nullable = true)
 |-- 2001Q4: integer (nullable = true)
 |-- 2000Q4: integer (nullable = true)
 |-- 1999Q4: integer (nullable = true)
 |-- 1998Q4: integer (nullable = true)
 |-- 1997Q4: integer (nullable = true)
 |-- 1996Q4: integer (nullable = true)
 |-- 1995Q4: integer (nullable = true)
 |-- 1994Q4: integer (nullable = true)

In [10]:
from pyspark.sql.functions import concat_ws
Vstat=df_pyspark.withColumn('id',concat_ws("::","BodyType","Make","GenModel","Model","Fuel","LicenceStatus"))
Vstat.select("BodyType","Make","GenModel","Model","Fuel","id").show(5)

+--------+------+-------------+--------------------+------+--------------------+
|BodyType|  Make|     GenModel|               Model|  Fuel|                  id|
+--------+------+-------------+--------------------+------+--------------------+
|    Cars|ABARTH|   ABARTH 124|     124 GT MULTIAIR|Petrol|Cars::ABARTH::ABA...|
|    Cars|ABARTH|   ABARTH 124|     124 GT MULTIAIR|Petrol|Cars::ABARTH::ABA...|
|    Cars|ABARTH|   ABARTH 124|124 GT MULTIAIR AUTO|Petrol|Cars::ABARTH::ABA...|
|    Cars|ABARTH|   ABARTH 124|124 GT MULTIAIR AUTO|Petrol|Cars::ABARTH::ABA...|
|    Cars|ABARTH|ABARTH SPIDER| 124 SPIDER MULTIAIR|Petrol|Cars::ABARTH::ABA...|
+--------+------+-------------+--------------------+------+--------------------+
only showing top 5 rows

In [11]:
from pyspark.sql.functions import col, split
lines = Vstat.select(split(col("id"), "::"))
lines

# DataFrame[split(value,  , -1): array<string>]
lines.printSchema()

root
 |-- split(id, ::, -1): array (nullable = false)
 |    |-- element: string (containsNull = false)

In [12]:
lines.show(5, truncate=100)

+--------------------------------------------------------------------+
|                                                   split(id, ::, -1)|
+--------------------------------------------------------------------+
|       [Cars, ABARTH, ABARTH 124, 124 GT MULTIAIR, Petrol, Licensed]|
|           [Cars, ABARTH, ABARTH 124, 124 GT MULTIAIR, Petrol, SORN]|
|  [Cars, ABARTH, ABARTH 124, 124 GT MULTIAIR AUTO, Petrol, Licensed]|
|      [Cars, ABARTH, ABARTH 124, 124 GT MULTIAIR AUTO, Petrol, SORN]|
|[Cars, ABARTH, ABARTH SPIDER, 124 SPIDER MULTIAIR, Petrol, Licensed]|
+--------------------------------------------------------------------+
only showing top 5 rows

In [13]:
def split(str, pattern, limit=-1):
    """ [... elided ] """
    sc = SparkContext._active_spark_context
    return Column(sc._jvm.functions.split(_to_java_column(str), pattern, limit))

In [14]:
from pyspark.sql.functions import col, split
Vstat.select(split(col("id"), "::")).printSchema()
# root
#  |-- split(value,  , -1): array (nullable = true)    ❶
#  |    |-- element: string (containsNull = true)
 
Vstat.select(split(col("id"), "::").alias("veh")).printSchema()
 
# root
#  |-- line: array (nullable = true)                   ❷
#  |    |-- element: string (containsNull = true)

root
 |-- split(id, ::, -1): array (nullable = false)
 |    |-- element: string (containsNull = false)

root
 |-- veh: array (nullable = false)
 |    |-- element: string (containsNull = false)

In [15]:
df_VStat = Vstat.unpivot("id",["2024Q2","2024Q1","2023Q4","2023Q3","2023Q2","2023Q1","2022Q4","2022Q3","2022Q2","2022Q1"\
                    ,"2021Q4","2021Q3","2021Q2","2021Q1","2020Q4","2020Q3","2020Q2","2020Q1","2019Q4","2019Q3","2019Q2","2019Q1"\
                    ,"2018Q4","2018Q3","2018Q2","2018Q1","2017Q4","2017Q3","2017Q2","2017Q1","2016Q4","2016Q3","2016Q2","2016Q1"\
                    ,"2015Q4","2015Q3","2015Q2","2015Q1","2014Q4","2014Q3","2014Q2","2014Q1","2013Q4","2013Q3","2013Q2","2013Q1"\
                    ,"2012Q4","2012Q3","2012Q2","2012Q1","2011Q4","2011Q3","2011Q2","2011Q1","2010Q4","2010Q3","2010Q2","2010Q1"\
                    ,"2009Q4","2009Q3","2009Q2","2009Q1","2008Q4","2008Q3","2007Q4","2006Q4","2005Q4","2004Q4","2003Q4","2002Q4"\
                    ,"2001Q4","2000Q4","1999Q4","1998Q4","1997Q4","1996Q4","1995Q4","1994Q4"\
                   ],"Period","Counting")

In [16]:
#df_VStat.write.parquet("df_VEH0120_GB_p1.parquet")

In [17]:
df_pyspark_vh=spark.read.csv('LanmanWorkstation Parameters.csv',header=True,inferSchema=True)
df_pyspark_vh.show()

+-------------------+--------------------+--------------------+------------+--------------------+
|       RegistryPath|                Path|                Name|        Kind|               Value|
+-------------------+--------------------+--------------------+------------+--------------------+
|HiveKeyLocalMachine|System\CurrentCon...|EnablePlainTextPa...|       DWord|            00000000|
|HiveKeyLocalMachine|System\CurrentCon...|EnableSecuritySig...|       DWord|            00000001|
|HiveKeyLocalMachine|System\CurrentCon...|RequireSecuritySi...|       DWord|            00000000|
|HiveKeyLocalMachine|System\CurrentCon...|          ServiceDll|ExpandString|C:\WINDOWS\System...|
|HiveKeyLocalMachine|System\CurrentCon...|ServiceDllUnloadO...|       DWord|            00000001|
|HiveKeyLocalMachine|System\CurrentCon...|     AuditSmb1Access|       DWord|            00000000|
+-------------------+--------------------+--------------------+------------+--------------------+

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark_vh.columns

['RegistryPath', 'Path', 'Name', 'Kind', 'Value']

In [20]:
df_pyspark.head(1)

[Row(BodyType='Cars', Make='ABARTH', GenModel='ABARTH 124', Model='124 GT MULTIAIR', Fuel='Petrol', LicenceStatus='Licensed', 2024Q2=16, 2024Q1=16, 2023Q4=16, 2023Q3=16, 2023Q2=17, 2023Q1=17, 2022Q4=17, 2022Q3=17, 2022Q2=18, 2022Q1=18, 2021Q4=16, 2021Q3=18, 2021Q2=18, 2021Q1=17, 2020Q4=18, 2020Q3=18, 2020Q2=18, 2020Q1=18, 2019Q4=18, 2019Q3=18, 2019Q2=18, 2019Q1=17, 2018Q4=12, 2018Q3=2, 2018Q2=0, 2018Q1=0, 2017Q4=0, 2017Q3=0, 2017Q2=0, 2017Q1=0, 2016Q4=0, 2016Q3=0, 2016Q2=0, 2016Q1=0, 2015Q4=0, 2015Q3=0, 2015Q2=0, 2015Q1=0, 2014Q4=0, 2014Q3=0, 2014Q2=0, 2014Q1=0, 2013Q4=0, 2013Q3=0, 2013Q2=0, 2013Q1=0, 2012Q4=0, 2012Q3=0, 2012Q2=0, 2012Q1=0, 2011Q4=0, 2011Q3=0, 2011Q2=0, 2011Q1=0, 2010Q4=0, 2010Q3=0, 2010Q2=0, 2010Q1=0, 2009Q4=0, 2009Q3=0, 2009Q2=0, 2009Q1=0, 2008Q4=0, 2008Q3=0, 2007Q4=0, 2006Q4=0, 2005Q4=0, 2004Q4=0, 2003Q4=0, 2002Q4=0, 2001Q4=0, 2000Q4=0, 1999Q4=0, 1998Q4=0, 1997Q4=0, 1996Q4=0, 1995Q4=0, 1994Q4=0)]

In [21]:
type(df_pyspark.select('2024Q2'))

pyspark.sql.dataframe.DataFrame

In [22]:
df_pyspark.dtypes

[('BodyType', 'string'),
 ('Make', 'string'),
 ('GenModel', 'string'),
 ('Model', 'string'),
 ('Fuel', 'string'),
 ('LicenceStatus', 'string'),
 ('2024Q2', 'int'),
 ('2024Q1', 'int'),
 ('2023Q4', 'int'),
 ('2023Q3', 'int'),
 ('2023Q2', 'int'),
 ('2023Q1', 'int'),
 ('2022Q4', 'int'),
 ('2022Q3', 'int'),
 ('2022Q2', 'int'),
 ('2022Q1', 'int'),
 ('2021Q4', 'int'),
 ('2021Q3', 'int'),
 ('2021Q2', 'int'),
 ('2021Q1', 'int'),
 ('2020Q4', 'int'),
 ('2020Q3', 'int'),
 ('2020Q2', 'int'),
 ('2020Q1', 'int'),
 ('2019Q4', 'int'),
 ('2019Q3', 'int'),
 ('2019Q2', 'int'),
 ('2019Q1', 'int'),
 ('2018Q4', 'int'),
 ('2018Q3', 'int'),
 ('2018Q2', 'int'),
 ('2018Q1', 'int'),
 ('2017Q4', 'int'),
 ('2017Q3', 'int'),
 ('2017Q2', 'int'),
 ('2017Q1', 'int'),
 ('2016Q4', 'int'),
 ('2016Q3', 'int'),
 ('2016Q2', 'int'),
 ('2016Q1', 'int'),
 ('2015Q4', 'int'),
 ('2015Q3', 'int'),
 ('2015Q2', 'int'),
 ('2015Q1', 'int'),
 ('2014Q4', 'int'),
 ('2014Q3', 'int'),
 ('2014Q2', 'int'),
 ('2014Q1', 'int'),
 ('2013Q4', 'int'),
 ('2013Q3', 'int'),
 ('2013Q2', 'int'),
 ('2013Q1', 'int'),
 ('2012Q4', 'int'),
 ('2012Q3', 'int'),
 ('2012Q2', 'int'),
 ('2012Q1', 'int'),
 ('2011Q4', 'int'),
 ('2011Q3', 'int'),
 ('2011Q2', 'int'),
 ('2011Q1', 'int'),
 ('2010Q4', 'int'),
 ('2010Q3', 'int'),
 ('2010Q2', 'int'),
 ('2010Q1', 'int'),
 ('2009Q4', 'int'),
 ('2009Q3', 'int'),
 ('2009Q2', 'int'),
 ('2009Q1', 'int'),
 ('2008Q4', 'int'),
 ('2008Q3', 'int'),
 ('2007Q4', 'int'),
 ('2006Q4', 'int'),
 ('2005Q4', 'int'),
 ('2004Q4', 'int'),
 ('2003Q4', 'int'),
 ('2002Q4', 'int'),
 ('2001Q4', 'int'),
 ('2000Q4', 'int'),
 ('1999Q4', 'int'),
 ('1998Q4', 'int'),
 ('1997Q4', 'int'),
 ('1996Q4', 'int'),
 ('1995Q4', 'int'),
 ('1994Q4', 'int')]

In [23]:
#checking dataframe structure
df_pyspark.describe()

DataFrame[summary: string, BodyType: string, Make: string, GenModel: string, Model: string, Fuel: string, LicenceStatus: string, 2024Q2: string, 2024Q1: string, 2023Q4: string, 2023Q3: string, 2023Q2: string, 2023Q1: string, 2022Q4: string, 2022Q3: string, 2022Q2: string, 2022Q1: string, 2021Q4: string, 2021Q3: string, 2021Q2: string, 2021Q1: string, 2020Q4: string, 2020Q3: string, 2020Q2: string, 2020Q1: string, 2019Q4: string, 2019Q3: string, 2019Q2: string, 2019Q1: string, 2018Q4: string, 2018Q3: string, 2018Q2: string, 2018Q1: string, 2017Q4: string, 2017Q3: string, 2017Q2: string, 2017Q1: string, 2016Q4: string, 2016Q3: string, 2016Q2: string, 2016Q1: string, 2015Q4: string, 2015Q3: string, 2015Q2: string, 2015Q1: string, 2014Q4: string, 2014Q3: string, 2014Q2: string, 2014Q1: string, 2013Q4: string, 2013Q3: string, 2013Q2: string, 2013Q1: string, 2012Q4: string, 2012Q3: string, 2012Q2: string, 2012Q1: string, 2011Q4: string, 2011Q3: string, 2011Q2: string, 2011Q1: string, 2010Q4: string, 2010Q3: string, 2010Q2: string, 2010Q1: string, 2009Q4: string, 2009Q3: string, 2009Q2: string, 2009Q1: string, 2008Q4: string, 2008Q3: string, 2007Q4: string, 2006Q4: string, 2005Q4: string, 2004Q4: string, 2003Q4: string, 2002Q4: string, 2001Q4: string, 2000Q4: string, 1999Q4: string, 1998Q4: string, 1997Q4: string, 1996Q4: string, 1995Q4: string, 1994Q4: string]

In [24]:
##Adding columns in data frame by self-declare formula
df_pyspark=df_pyspark.withColumn('2024Q2 plus 3', df_pyspark['2024Q2'] + 3)

In [25]:
df_pyspark.select("BodyType","Make","Model","2024Q2","2024Q2 plus 3").show()
df_pyspark.dtypes

+--------+------+--------------------+------+-------------+
|BodyType|  Make|               Model|2024Q2|2024Q2 plus 3|
+--------+------+--------------------+------+-------------+
|    Cars|ABARTH|     124 GT MULTIAIR|    16|           19|
|    Cars|ABARTH|     124 GT MULTIAIR|     3|            6|
|    Cars|ABARTH|124 GT MULTIAIR AUTO|    24|           27|
|    Cars|ABARTH|124 GT MULTIAIR AUTO|     2|            5|
|    Cars|ABARTH| 124 SPIDER MULTIAIR|   964|          967|
|    Cars|ABARTH| 124 SPIDER MULTIAIR|    26|           29|
|    Cars|ABARTH|124 SPIDER MULTIA...|   648|          651|
|    Cars|ABARTH|124 SPIDER MULTIA...|    24|           27|
|    Cars|ABARTH|124 SPIDER SCORPI...|    60|           63|
|    Cars|ABARTH|124 SPIDER SCORPI...|     1|            4|
|    Cars|ABARTH|                 500|  3716|         3719|
|    Cars|ABARTH|                 500|   339|          342|
|    Cars|ABARTH|               500 C|   145|          148|
|    Cars|ABARTH|               500 C|     5|            8|
|    Cars|ABARTH|           500 C S-A|   353|          356|
|    Cars|ABARTH|           500 C S-A|    35|           38|
|    Cars|ABARTH|          500 CUSTOM|   331|          334|
|    Cars|ABARTH|          500 CUSTOM|     9|           12|
|    Cars|ABARTH|      500 CUSTOM S-A|    92|           95|
|    Cars|ABARTH|      500 CUSTOM S-A|     3|            6|
+--------+------+--------------------+------+-------------+
only showing top 20 rows

[('BodyType', 'string'),
 ('Make', 'string'),
 ('GenModel', 'string'),
 ('Model', 'string'),
 ('Fuel', 'string'),
 ('LicenceStatus', 'string'),
 ('2024Q2', 'int'),
 ('2024Q1', 'int'),
 ('2023Q4', 'int'),
 ('2023Q3', 'int'),
 ('2023Q2', 'int'),
 ('2023Q1', 'int'),
 ('2022Q4', 'int'),
 ('2022Q3', 'int'),
 ('2022Q2', 'int'),
 ('2022Q1', 'int'),
 ('2021Q4', 'int'),
 ('2021Q3', 'int'),
 ('2021Q2', 'int'),
 ('2021Q1', 'int'),
 ('2020Q4', 'int'),
 ('2020Q3', 'int'),
 ('2020Q2', 'int'),
 ('2020Q1', 'int'),
 ('2019Q4', 'int'),
 ('2019Q3', 'int'),
 ('2019Q2', 'int'),
 ('2019Q1', 'int'),
 ('2018Q4', 'int'),
 ('2018Q3', 'int'),
 ('2018Q2', 'int'),
 ('2018Q1', 'int'),
 ('2017Q4', 'int'),
 ('2017Q3', 'int'),
 ('2017Q2', 'int'),
 ('2017Q1', 'int'),
 ('2016Q4', 'int'),
 ('2016Q3', 'int'),
 ('2016Q2', 'int'),
 ('2016Q1', 'int'),
 ('2015Q4', 'int'),
 ('2015Q3', 'int'),
 ('2015Q2', 'int'),
 ('2015Q1', 'int'),
 ('2014Q4', 'int'),
 ('2014Q3', 'int'),
 ('2014Q2', 'int'),
 ('2014Q1', 'int'),
 ('2013Q4', 'int'),
 ('2013Q3', 'int'),
 ('2013Q2', 'int'),
 ('2013Q1', 'int'),
 ('2012Q4', 'int'),
 ('2012Q3', 'int'),
 ('2012Q2', 'int'),
 ('2012Q1', 'int'),
 ('2011Q4', 'int'),
 ('2011Q3', 'int'),
 ('2011Q2', 'int'),
 ('2011Q1', 'int'),
 ('2010Q4', 'int'),
 ('2010Q3', 'int'),
 ('2010Q2', 'int'),
 ('2010Q1', 'int'),
 ('2009Q4', 'int'),
 ('2009Q3', 'int'),
 ('2009Q2', 'int'),
 ('2009Q1', 'int'),
 ('2008Q4', 'int'),
 ('2008Q3', 'int'),
 ('2007Q4', 'int'),
 ('2006Q4', 'int'),
 ('2005Q4', 'int'),
 ('2004Q4', 'int'),
 ('2003Q4', 'int'),
 ('2002Q4', 'int'),
 ('2001Q4', 'int'),
 ('2000Q4', 'int'),
 ('1999Q4', 'int'),
 ('1998Q4', 'int'),
 ('1997Q4', 'int'),
 ('1996Q4', 'int'),
 ('1995Q4', 'int'),
 ('1994Q4', 'int'),
 ('2024Q2 plus 3', 'int')]

In [26]:
##Drop the colum
# Then check if the column just dropped still in the dataframe or not
df_pyspark=df_pyspark.drop('2024Q2 plus 3')
print("2024Q2 plus 3" in df_pyspark.columns)

False

In [27]:
df_pyspark.select("BodyType","Make","Model").show()
df_pyspark.dtypes

+--------+------+--------------------+
|BodyType|  Make|               Model|
+--------+------+--------------------+
|    Cars|ABARTH|     124 GT MULTIAIR|
|    Cars|ABARTH|     124 GT MULTIAIR|
|    Cars|ABARTH|124 GT MULTIAIR AUTO|
|    Cars|ABARTH|124 GT MULTIAIR AUTO|
|    Cars|ABARTH| 124 SPIDER MULTIAIR|
|    Cars|ABARTH| 124 SPIDER MULTIAIR|
|    Cars|ABARTH|124 SPIDER MULTIA...|
|    Cars|ABARTH|124 SPIDER MULTIA...|
|    Cars|ABARTH|124 SPIDER SCORPI...|
|    Cars|ABARTH|124 SPIDER SCORPI...|
|    Cars|ABARTH|                 500|
|    Cars|ABARTH|                 500|
|    Cars|ABARTH|               500 C|
|    Cars|ABARTH|               500 C|
|    Cars|ABARTH|           500 C S-A|
|    Cars|ABARTH|           500 C S-A|
|    Cars|ABARTH|          500 CUSTOM|
|    Cars|ABARTH|          500 CUSTOM|
|    Cars|ABARTH|      500 CUSTOM S-A|
|    Cars|ABARTH|      500 CUSTOM S-A|
+--------+------+--------------------+
only showing top 20 rows

[('BodyType', 'string'),
 ('Make', 'string'),
 ('GenModel', 'string'),
 ('Model', 'string'),
 ('Fuel', 'string'),
 ('LicenceStatus', 'string'),
 ('2024Q2', 'int'),
 ('2024Q1', 'int'),
 ('2023Q4', 'int'),
 ('2023Q3', 'int'),
 ('2023Q2', 'int'),
 ('2023Q1', 'int'),
 ('2022Q4', 'int'),
 ('2022Q3', 'int'),
 ('2022Q2', 'int'),
 ('2022Q1', 'int'),
 ('2021Q4', 'int'),
 ('2021Q3', 'int'),
 ('2021Q2', 'int'),
 ('2021Q1', 'int'),
 ('2020Q4', 'int'),
 ('2020Q3', 'int'),
 ('2020Q2', 'int'),
 ('2020Q1', 'int'),
 ('2019Q4', 'int'),
 ('2019Q3', 'int'),
 ('2019Q2', 'int'),
 ('2019Q1', 'int'),
 ('2018Q4', 'int'),
 ('2018Q3', 'int'),
 ('2018Q2', 'int'),
 ('2018Q1', 'int'),
 ('2017Q4', 'int'),
 ('2017Q3', 'int'),
 ('2017Q2', 'int'),
 ('2017Q1', 'int'),
 ('2016Q4', 'int'),
 ('2016Q3', 'int'),
 ('2016Q2', 'int'),
 ('2016Q1', 'int'),
 ('2015Q4', 'int'),
 ('2015Q3', 'int'),
 ('2015Q2', 'int'),
 ('2015Q1', 'int'),
 ('2014Q4', 'int'),
 ('2014Q3', 'int'),
 ('2014Q2', 'int'),
 ('2014Q1', 'int'),
 ('2013Q4', 'int'),
 ('2013Q3', 'int'),
 ('2013Q2', 'int'),
 ('2013Q1', 'int'),
 ('2012Q4', 'int'),
 ('2012Q3', 'int'),
 ('2012Q2', 'int'),
 ('2012Q1', 'int'),
 ('2011Q4', 'int'),
 ('2011Q3', 'int'),
 ('2011Q2', 'int'),
 ('2011Q1', 'int'),
 ('2010Q4', 'int'),
 ('2010Q3', 'int'),
 ('2010Q2', 'int'),
 ('2010Q1', 'int'),
 ('2009Q4', 'int'),
 ('2009Q3', 'int'),
 ('2009Q2', 'int'),
 ('2009Q1', 'int'),
 ('2008Q4', 'int'),
 ('2008Q3', 'int'),
 ('2007Q4', 'int'),
 ('2006Q4', 'int'),
 ('2005Q4', 'int'),
 ('2004Q4', 'int'),
 ('2003Q4', 'int'),
 ('2002Q4', 'int'),
 ('2001Q4', 'int'),
 ('2000Q4', 'int'),
 ('1999Q4', 'int'),
 ('1998Q4', 'int'),
 ('1997Q4', 'int'),
 ('1996Q4', 'int'),
 ('1995Q4', 'int'),
 ('1994Q4', 'int')]

In [28]:
spark.read

In [29]:
dir(spark.read)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_df',
 '_jreader',
 '_set_opts',
 '_spark',
 'csv',
 'format',
 'jdbc',
 'json',
 'load',
 'option',
 'options',
 'orc',
 'parquet',
 'schema',
 'table',
 'text']

In [30]:
df_en = spark.read.option('header','true').csv('C:\\Data\\source\\EngagingNetworks\\Archive\\EngagingNetworks Test Data 2.8.csv',inferSchema=True)

In [31]:
df_en.select('Account ID','Supporter ID','Campaign ID','Title','Postcode').filter(df_en['Supporter ID'].like("%161014313")).show(10, truncate=False)

+----------+------------+------------------------------------------+-----+--------+
|Account ID|Supporter ID|Campaign ID                               |Title|Postcode|
+----------+------------+------------------------------------------+-----+--------+
|2339      |161014313   |Become a Mind campaigner                  |Miss |CV32 5NA|
|2339      |161014313   |SMS or text Opt-in                        |Miss |CV32 5NA|
|2339      |161014313   |Shaping Mind's work                       |Miss |CV32 5NA|
|2339      |161014313   |Fundraising events and challenges         |Miss |CV32 5NA|
|2339      |161014313   |I want to choose what you contact me about|Miss |CV32 5NA|
|2339      |161014313   |Phone opt in                              |Miss |CV32 5NA|
|2339      |161014313   |Email Opt-in                              |Miss |CV32 5NA|
+----------+------------+------------------------------------------+-----+--------+

In [32]:
df_en.dtypes

[('Account ID', 'int'),
 ('Supporter ID', 'int'),
 ('Supporter Email', 'string'),
 ('Date Created', 'string'),
 ('Date Modified', 'string'),
 ('Campaign Number', 'int'),
 ('Campaign Type', 'string'),
 ('Campaign ID', 'string'),
 ('Campaign Date', 'string'),
 ('Campaign Time', 'timestamp'),
 ('Campaign Status', 'string'),
 ('Campaign Data 1', 'string'),
 ('Campaign Data 2', 'string'),
 ('Campaign Data 3', 'string'),
 ('Campaign Data 4', 'string'),
 ('Campaign Data 5', 'string'),
 ('Campaign Data 6', 'string'),
 ('Campaign Data 7', 'string'),
 ('Campaign Data 8', 'string'),
 ('Campaign Data 9', 'string'),
 ('Campaign Data 10', 'string'),
 ('Campaign Data 11', 'string'),
 ('Campaign Data 12', 'string'),
 ('Campaign Data 13', 'string'),
 ('Campaign Data 14', 'string'),
 ('Campaign Data 15', 'string'),
 ('Campaign Data 16', 'string'),
 ('Campaign Data 17', 'string'),
 ('Campaign Data 18', 'string'),
 ('Campaign Data 19', 'string'),
 ('Campaign Data 20', 'string'),
 ('Campaign Data 21', 'string'),
 ('Campaign Data 22', 'string'),
 ('Campaign Data 23', 'string'),
 ('Campaign Data 24', 'string'),
 ('Campaign Data 25', 'string'),
 ('Campaign Data 26', 'string'),
 ('Campaign Data 27', 'string'),
 ('Campaign Data 28', 'string'),
 ('Campaign Data 29', 'string'),
 ('Campaign Data 30', 'string'),
 ('Campaign Data 31', 'string'),
 ('Campaign Data 32', 'string'),
 ('Campaign Data 33', 'string'),
 ('Campaign Data 34', 'string'),
 ('Campaign Data 35', 'string'),
 ('External Reference 1', 'string'),
 ('External Reference 2', 'string'),
 ('External Reference 3', 'string'),
 ('External Reference 4', 'string'),
 ('External Reference 5', 'string'),
 ('External Reference 6', 'string'),
 ('External Reference 7', 'string'),
 ('External Reference 8', 'string'),
 ('External Reference 9', 'string'),
 ('External Reference 10', 'string'),
 ('Origin Source', 'string'),
 ('Title', 'string'),
 ('First Name', 'string'),
 ('Last Name', 'string'),
 ('Email Address', 'string'),
 ('City', 'string'),
 ('Country', 'string'),
 ('Street', 'string'),
 ('Address 2', 'string'),
 ('Postcode', 'string'),
 ('Home Phone', 'string'),
 ('Cell Phone', 'bigint'),
 ('Language preference', 'string'),
 ('Quiz Score', 'string'),
 ('Nation', 'string'),
 ('MP Constituency', 'string'),
 ('MP Party', 'string'),
 ('MP First Name', 'string'),
 ('MP Surname', 'string'),
 ('MP Title', 'string'),
 ('MP ID,', 'int')]

In [33]:
#Create a table view for sql query
df_en.createOrReplaceTempView('eNet')
spark.sql("SELECT `Account ID`,`Supporter ID`,`Campaign ID`, Postcode FROM eNet WHERE `Supporter ID` like '%161014313'").show()

+----------+------------+--------------------+--------+
|Account ID|Supporter ID|         Campaign ID|Postcode|
+----------+------------+--------------------+--------+
|      2339|   161014313|Become a Mind cam...|CV32 5NA|
|      2339|   161014313|  SMS or text Opt-in|CV32 5NA|
|      2339|   161014313| Shaping Mind's work|CV32 5NA|
|      2339|   161014313|Fundraising event...|CV32 5NA|
|      2339|   161014313|I want to choose ...|CV32 5NA|
|      2339|   161014313|        Phone opt in|CV32 5NA|
|      2339|   161014313|        Email Opt-in|CV32 5NA|
+----------+------------+--------------------+--------+

In [34]:
spark.catalog.listTables()

[Table(name='eNet', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [35]:
pc = spark.read.csv('C:\\Data\\source\\postcodes.csv',header=True,inferSchema=True)

In [64]:
pc.dtypes

[('Postcode', 'string'),
 ('In Use?', 'string'),
 ('Latitude', 'double'),
 ('Longitude', 'double'),
 ('Easting', 'int'),
 ('Northing', 'int'),
 ('Grid Ref', 'string'),
 ('County', 'string'),
 ('District', 'string'),
 ('Ward', 'string'),
 ('District Code', 'string'),
 ('Ward Code', 'string'),
 ('Country', 'string'),
 ('County Code', 'string'),
 ('Constituency', 'string'),
 ('Introduced', 'date'),
 ('Terminated', 'date'),
 ('Parish', 'string'),
 ('National Park', 'string'),
 ('Population', 'int'),
 ('Households', 'int'),
 ('Built up area', 'string'),
 ('Built up sub-division', 'string'),
 ('Lower layer super output area', 'string'),
 ('Rural/urban', 'string'),
 ('Region', 'string'),
 ('Altitude', 'int'),
 ('London zone', 'int'),
 ('LSOA Code', 'string'),
 ('Local authority', 'string'),
 ('MSOA Code', 'string'),
 ('Middle layer super output area', 'string'),
 ('Parish Code', 'string'),
 ('Census output area', 'string'),
 ('Constituency Code', 'string'),
 ('Index of Multiple Deprivation', 'int'),
 ('Quality', 'int'),
 ('User Type', 'int'),
 ('Last updated', 'date'),
 ('Nearest station', 'string'),
 ('Distance to station', 'double'),
 ('Postcode area', 'string'),
 ('Postcode district', 'string'),
 ('Police force', 'string'),
 ('Water company', 'string'),
 ('Plus Code', 'string'),
 ('Average Income', 'int'),
 ('Sewage Company', 'string'),
 ('Travel To Work Area', 'string'),
 ('ITL level 2', 'string'),
 ('ITL level 3', 'string'),
 ('UPRNs', 'string'),
 ('Distance to sea', 'double'),
 ('LSOA21 Code', 'string'),
 ('Lower layer super output area 2021', 'string'),
 ('MSOA21 Code', 'string'),
 ('Middle layer super output area 2021', 'string'),
 ('Census output area 2021', 'string')]

In [37]:
#Create another table view Psc for join query
pc.createOrReplaceTempView('Psc')
spark.sql("SELECT eNet.`Account ID`,eNet.`Supporter ID`,eNet.`Campaign ID`, eNet.Postcode, Psc.`Altitude` \
FROM eNet left join Psc on eNet.Postcode = Psc.Postcode WHERE `Supporter ID` like '%161014313'").show()

+----------+------------+--------------------+--------+--------+
|Account ID|Supporter ID|         Campaign ID|Postcode|Altitude|
+----------+------------+--------------------+--------+--------+
|      2339|   161014313|Become a Mind cam...|CV32 5NA|      69|
|      2339|   161014313|  SMS or text Opt-in|CV32 5NA|      69|
|      2339|   161014313| Shaping Mind's work|CV32 5NA|      69|
|      2339|   161014313|Fundraising event...|CV32 5NA|      69|
|      2339|   161014313|I want to choose ...|CV32 5NA|      69|
|      2339|   161014313|        Phone opt in|CV32 5NA|      69|
|      2339|   161014313|        Email Opt-in|CV32 5NA|      69|
+----------+------------+--------------------+--------+--------+

In [38]:
#Convert Spark DataFrame to Pandas
EnageNetwork = df_en.toPandas()

In [39]:
EnageNetwork.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 77 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Account ID             21 non-null     int32
 1   Supporter ID           21 non-null     int32
 2   Supporter Email        21 non-null     object
 3   Date Created           21 non-null     object
 4   Date Modified          7 non-null      object
 5   Campaign Number        21 non-null     int32
 6   Campaign Type          21 non-null     object
 7   Campaign ID            21 non-null     object
 8   Campaign Date          21 non-null     object
 9   Campaign Time          21 non-null     datetime64[ns]
 10  Campaign Status        21 non-null     object
 11  Campaign Data 1        18 non-null     object
 12  Campaign Data 2        0 non-null      object
 13  Campaign Data 3        0 non-null      object
 14  Campaign Data 4        0 non-null      object
 15  Campaign Data 5        0 non-null      object
 16  Campaign Data 6        0 non-null      object
 17  Campaign Data 7        0 non-null      object
 18  Campaign Data 8        0 non-null      object
 19  Campaign Data 9        0 non-null      object
 20  Campaign Data 10       0 non-null      object
 21  Campaign Data 11       0 non-null      object
 22  Campaign Data 12       0 non-null      object
 23  Campaign Data 13       0 non-null      object
 24  Campaign Data 14       0 non-null      object
 25  Campaign Data 15       0 non-null      object
 26  Campaign Data 16       0 non-null      object
 27  Campaign Data 17       0 non-null      object
 28  Campaign Data 18       0 non-null      object
 29  Campaign Data 19       0 non-null      object
 30  Campaign Data 20       0 non-null      object
 31  Campaign Data 21       0 non-null      object
 32  Campaign Data 22       0 non-null      object
 33  Campaign Data 23       0 non-null      object
 34  Campaign Data 24       0 non-null      object
 35  Campaign Data 25       0 non-null      object
 36  Campaign Data 26       0 non-null      object
 37  Campaign Data 27       0 non-null      object
 38  Campaign Data 28       0 non-null      object
 39  Campaign Data 29       0 non-null      object
 40  Campaign Data 30       0 non-null      object
 41  Campaign Data 31       0 non-null      object
 42  Campaign Data 32       3 non-null      object
 43  Campaign Data 33       3 non-null      object
 44  Campaign Data 34       0 non-null      object
 45  Campaign Data 35       0 non-null      object
 46  External Reference 1   0 non-null      object
 47  External Reference 2   0 non-null      object
 48  External Reference 3   0 non-null      object
 49  External Reference 4   0 non-null      object
 50  External Reference 5   0 non-null      object
 51  External Reference 6   0 non-null      object
 52  External Reference 7   0 non-null      object
 53  External Reference 8   0 non-null      object
 54  External Reference 9   0 non-null      object
 55  External Reference 10  0 non-null      object
 56  Origin Source          0 non-null      object
 57  Title                  21 non-null     object
 58  First Name             21 non-null     object
 59  Last Name              21 non-null     object
 60  Email Address          21 non-null     object
 61  City                   21 non-null     object
 62  Country                7 non-null      object
 63  Street                 21 non-null     object
 64  Address 2              0 non-null      object
 65  Postcode               21 non-null     object
 66  Home Phone             0 non-null      object
 67  Cell Phone             7 non-null      float64
 68  Language preference    0 non-null      object
 69  Quiz Score             0 non-null      object
 70  Nation                 21 non-null     object
 71  MP Constituency        7 non-null      object
 72  MP Party               7 non-null      object
 73  MP First Name          7 non-null      object
 74  MP Surname             7 non-null      object
 75  MP Title               7 non-null      object
 76  MP ID,                 7 non-null      float64
dtypes: datetime64[ns](1), float64(2), int32(3), object(71)
memory usage: 12.5+ KB

In [40]:
#Setup variable for reading SQL Server
#Reading mssql server, it need to use Pandas, pyodbc, and sqlachemy
import pyodbc
import pandas as pd
import sqlalchemy as sa
# Set up the database connection

db_host = "127.0.0.1"
db_port = "1433"
db_name = "test"
db_user = "pyt"
db_password = "pyt1234"

In [52]:
# Connect SQL Server with Pyspark

conn = pyodbc.connect(\
    "Driver={SQL Server};"\
    "Server=" + db_host + "," + db_port + ";"\
    "Database=" + db_name + ";"\
    "UID=" + db_user + ";"\
    "PWD=" + db_password + ";"\
)

query = "SELECT * FROM dbo.postcode"
df_pandas = pd.read_sql(query, conn)
from sqlalchemy.engine import URL
connection_string = "DRIVER={ODBC Driver 17 for SQL Server};SERVER=127.0.0.1;DATABASE=test;UID=pyt;PWD=pyt1234;"
#connection_string = "DRIVER={ODBC Driver 17 for SQL Server};SERVER="+db_host+";DATABASE="+db_name+";UID="+db_user+";PWD="+db_password+";"
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

from sqlalchemy import create_engine
engine = create_engine(connection_url)

with engine.begin() as conn:
    df = pd.read_sql_query(sa.text("SELECT * FROM dbo.postcode"), conn)
    #df = pd.read_sql_query(sa.text(query), conn)
    #df = pd.read_sql(query, conn)

C:\Users\wilso\AppData\Local\Temp\ipykernel_11348\2786429088.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_pandas = pd.read_sql(query, conn)

In [53]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2854 entries, 0 to 2853
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   postcode        2854 non-null   object
 1   eastings        2854 non-null   int64
 2   northings       2841 non-null   float64
 3   latitude        2854 non-null   float64
 4   longitude       2854 non-null   float64
 5   town            2288 non-null   object
 6   region          2854 non-null   object
 7   country         2854 non-null   object
 8   country_string  2854 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 200.8+ KB

,postcode,eastings,northings,latitude,longitude,town,region,country,country_string
0,AB10,392900,804900.0,57.135139,-2.11731,Aberdeen,Aberdeen City,SCT,Scotland
1,AB11,394500,805300.0,57.138748,-2.09089,Aberdeen,Aberdeen City,SCT,Scotland
2,AB12,393300,801100.0,57.101002,-2.11060,Aberdeen,Aberdeen City,SCT,Scotland
3,AB13,385600,801900.0,57.108009,-2.23776,Milltimber,Aberdeen City,SCT,Scotland
4,AB14,383600,801100.0,57.100761,-2.27073,Peterculter,Aberdeen City,SCT,Scotland

In [63]:
#Apache Arrow is an in-memory columnar data format
#not enabled by default
#All Spark SQL data types are supported by Arrow-based conversion except MapType, ArrayType of TimestampType, and nested StructType
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled","true")

In [55]:
#pd.DataFrame.iteritems = pd.DataFrame.items

In [56]:
#from Pandas dataframe df, convert to Spark dataframe by using pyarrow
df_postcode=spark.createDataFrame(df) 
df_postcode.printSchema()
#df_postcode.select('postcode','eastings','town','region','country').filter(df_postcode['town'].like("%Warrington%")).show(10, truncate=False)
display(df_postcode)
df_postcode.show(20)

root
 |-- postcode: string (nullable = true)
 |-- eastings: long (nullable = true)
 |-- northings: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- town: string (nullable = true)
 |-- region: string (nullable = true)
 |-- country: string (nullable = true)
 |-- country_string: string (nullable = true)

DataFrame[postcode: string, eastings: bigint, northings: double, latitude: double, longitude: double, town: string, region: string, country: string, country_string: string]

+--------+--------+---------+------------------+-------------------+----------------+-------------+-------+--------------+
|postcode|eastings|northings|          latitude|          longitude|            town|       region|country|country_string|
+--------+--------+---------+------------------+-------------------+----------------+-------------+-------+--------------+
|    AB10|  392900| 804900.0| 57.13513946533203| -2.117310047149658|        Aberdeen|Aberdeen City|    SCT|      Scotland|
|    AB11|  394500| 805300.0| 57.13874816894531|-2.0908899307250977|        Aberdeen|Aberdeen City|    SCT|      Scotland|
|    AB12|  393300| 801100.0| 57.10100173950195| -2.110599994659424|        Aberdeen|Aberdeen City|    SCT|      Scotland|
|    AB13|  385600| 801900.0|57.108009338378906| -2.237760066986084|      Milltimber|Aberdeen City|    SCT|      Scotland|
|    AB14|  383600| 801100.0| 57.10076141357422|-2.2707300186157227|     Peterculter|Aberdeen City|    SCT|      Scotland|
|    AB15|  390000| 805300.0| 57.13867950439453| -2.165250062942505|        Aberdeen|Aberdeen City|    SCT|      Scotland|
|    AB16|  390600| 807800.0| 57.16115188598633|-2.1554300785064697|        Aberdeen|Aberdeen City|    SCT|      Scotland|
|    AB21|  387900| 813200.0|57.209598541259766|-2.2003300189971924|Aberdeen Airport|Aberdeen City|    SCT|      Scotland|
|    AB22|  392800| 810700.0| 57.18724060058594|-2.1191298961639404|   Bridge Of Don|Aberdeen City|    SCT|      Scotland|
|    AB23|  394700| 813500.0| 57.21242141723633|-2.0877599716186523|        Aberdeen|Aberdeen City|    SCT|      Scotland|
|    AB24|  393308| 808004.0|   57.162841796875|-2.1122798919677734|        Aberdeen|Aberdeen City|    SCT|      Scotland|
|    AB25|  393200| 806900.0| 57.15311050415039| -2.112410068511963|        Aberdeen|Aberdeen City|    SCT|      Scotland|
|    AB30|  370900| 772900.0|56.846778869628906|-2.4771199226379395|    Laurencekirk|Aberdeenshire|    SCT|      Scotland|
|    AB31|  368100| 798300.0|57.074790954589844|-2.5262300968170166|        Banchory|Aberdeenshire|    SCT|      Scotland|
|    AB32|  380800| 807200.0| 57.15544891357422|  -2.31742000579834|        Westhill|Aberdeenshire|    SCT|      Scotland|
|    AB33|  355200| 815100.0|57.224639892578125| -2.742029905319214|          Alford|Aberdeenshire|    SCT|      Scotland|
|    AB34|  350800| 800600.0|57.093929290771484| -2.812040090560913|          Aboyne|Aberdeenshire|    SCT|      Scotland|
|    AB35|  330300| 794700.0| 57.03828811645508|-3.1486899852752686|        Ballatar|Aberdeenshire|    SCT|      Scotland|
|    AB36|  335600| 812300.0| 57.19715118408203| -3.065890073776245|       Strathdon|Aberdeenshire|    SCT|      Scotland|
|    AB37|  318700| 827500.0| 57.33097839355469|-3.3505098819732666|   Ballindalloch|        Moray|    SCT|      Scotland|
+--------+--------+---------+------------------+-------------------+----------------+-------------+-------+--------------+
only showing top 20 rows

In [89]:
import pandas as pd
import xml.etree.ElementTree as ET

# Parse the XML file
xdf = ET.parse("C:\\data\\books_sample.xml")
root = xdf.getroot()

#xdf = pd.read_xml('C:\\data\\books_sample.xml')

data = []
for book in root.findall("book"):
    data.append({
        "id": book.get("id"),
        "author": book.find("author").text,
        "title": book.find("title").text,
        "genre": book.find("genre").text,
        "price": book.find("price").text,
        "publish_date": book.find("publish_date").text,
        "description": book.find("description").text
    })

df = pd.DataFrame(data)
print(df)

       id                author                                   title  \
0   bk101  Gambardella, Matthew                   XML Developer's Guide
1   bk102            Ralls, Kim                           Midnight Rain
2   bk103           Corets, Eva                         Maeve Ascendant
3   bk104           Corets, Eva                         Oberon's Legacy
4   bk105           Corets, Eva                      The Sundered Grail
5   bk106      Randall, Cynthia                             Lover Birds
6   bk107        Thurman, Paula                           Splish Splash
7   bk108         Knorr, Stefan                         Creepy Crawlies
8   bk109          Kress, Peter                            Paradox Lost
9   bk110          O'Brien, Tim   Microsoft .NET: The Programming Bible
10  bk111          O'Brien, Tim           MSXML3: A Comprehensive Guide
11  bk112           Galos, Mike  Visual Studio 7: A Comprehensive Guide

              genre  price publish_date  \
0          Computer  44.95   2000-10-01
1           Fantasy   5.95   2000-12-16
2           Fantasy   5.95   2000-11-17
3           Fantasy   5.95   2001-03-10
4           Fantasy   5.95   2001-09-10
5           Romance   4.95   2000-09-02
6           Romance   4.95   2000-11-02
7            Horror   4.95   2000-12-06
8   Science Fiction   6.95   2000-11-02
9          Computer  36.95   2000-12-09
10         Computer  36.95   2000-12-01
11         Computer  49.95   2001-04-16

                                          description
0   An in-depth look at creating applications \n  ...
1   A former architect battles corporate zombies, ...
2   After the collapse of a nanotechnology \n     ...
3   In post-apocalypse England, the mysterious \n ...
4   The two daughters of Maeve, half-sisters, \n  ...
5   When Carla meets Paul at an ornithology \n    ...
6   A deep sea diver finds true love twenty \n    ...
7   An anthology of horror stories about roaches,\...
8   After an inadvertant trip through a Heisenberg...
9   Microsoft's .NET initiative is explored in \n ...
10  The Microsoft MSXML3 parser is covered in \n  ...
11  Microsoft Visual Studio 7 is explored in depth...

In [90]:
print(data)

[{'id': 'bk101', 'author': 'Gambardella, Matthew', 'title': "XML Developer's Guide", 'genre': 'Computer', 'price': '44.95', 'publish_date': '2000-10-01', 'description': 'An in-depth look at creating applications \n      with XML.'}, {'id': 'bk102', 'author': 'Ralls, Kim', 'title': 'Midnight Rain', 'genre': 'Fantasy', 'price': '5.95', 'publish_date': '2000-12-16', 'description': 'A former architect battles corporate zombies, \n      an evil sorceress, and her own childhood to become queen \n      of the world.'}, {'id': 'bk103', 'author': 'Corets, Eva', 'title': 'Maeve Ascendant', 'genre': 'Fantasy', 'price': '5.95', 'publish_date': '2000-11-17', 'description': 'After the collapse of a nanotechnology \n      society in England, the young survivors lay the \n      foundation for a new society.'}, {'id': 'bk104', 'author': 'Corets, Eva', 'title': "Oberon's Legacy", 'genre': 'Fantasy', 'price': '5.95', 'publish_date': '2001-03-10', 'description': 'In post-apocalypse England, the mysterious \n      agent known only as Oberon helps to create a new life \n      for the inhabitants of London. Sequel to Maeve \n      Ascendant.'}, {'id': 'bk105', 'author': 'Corets, Eva', 'title': 'The Sundered Grail', 'genre': 'Fantasy', 'price': '5.95', 'publish_date': '2001-09-10', 'description': "The two daughters of Maeve, half-sisters, \n      battle one another for control of England. Sequel to \n      Oberon's Legacy."}, {'id': 'bk106', 'author': 'Randall, Cynthia', 'title': 'Lover Birds', 'genre': 'Romance', 'price': '4.95', 'publish_date': '2000-09-02', 'description': 'When Carla meets Paul at an ornithology \n      conference, tempers fly as feathers get ruffled.'}, {'id': 'bk107', 'author': 'Thurman, Paula', 'title': 'Splish Splash', 'genre': 'Romance', 'price': '4.95', 'publish_date': '2000-11-02', 'description': 'A deep sea diver finds true love twenty \n      thousand leagues beneath the sea.'}, {'id': 'bk108', 'author': 'Knorr, Stefan', 'title': 'Creepy Crawlies', 'genre': 'Horror', 'price': '4.95', 'publish_date': '2000-12-06', 'description': 'An anthology of horror stories about roaches,\n      centipedes, scorpions  and other insects.'}, {'id': 'bk109', 'author': 'Kress, Peter', 'title': 'Paradox Lost', 'genre': 'Science Fiction', 'price': '6.95', 'publish_date': '2000-11-02', 'description': 'After an inadvertant trip through a Heisenberg\n      Uncertainty Device, James Salway discovers the problems \n      of being quantum.'}, {'id': 'bk110', 'author': "O'Brien, Tim", 'title': 'Microsoft .NET: The Programming Bible', 'genre': 'Computer', 'price': '36.95', 'publish_date': '2000-12-09', 'description': "Microsoft's .NET initiative is explored in \n      detail in this deep programmer's reference."}, {'id': 'bk111', 'author': "O'Brien, Tim", 'title': 'MSXML3: A Comprehensive Guide', 'genre': 'Computer', 'price': '36.95', 'publish_date': '2000-12-01', 'description': 'The Microsoft MSXML3 parser is covered in \n      detail, with attention to XML DOM interfaces, XSLT processing, \n      SAX and more.'}, {'id': 'bk112', 'author': 'Galos, Mike', 'title': 'Visual Studio 7: A Comprehensive Guide', 'genre': 'Computer', 'price': '49.95', 'publish_date': '2001-04-16', 'description': 'Microsoft Visual Studio 7 is explored in depth,\n      looking at how Visual Basic, Visual C++, C#, and ASP+ are \n      integrated into a comprehensive development \n      environment.'}]